@keyframes openingWebsite {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes movePlant1 {
    from {
        transform: translateX(-25rem) rotate(0deg);

    }

    to {
        transform: translateX(-25rem) rotate(10deg);

    }
}

@keyframes movePlant2 {
    from {
        transform: translateX(20rem) rotate(0deg);

    }

    to {
        transform: translateX(20rem) rotate(-10deg);

    }
}