/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('./animations.css');

@font-face {
    font-family: 'Ruhl';
    src: url('./fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: 'Ruhl Medium';
    src: url('./fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('./fonts/GreatVibes-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --h1: calc(2rem + 1vw);
    --h2: calc(3.5rem + 1vw);
    --h3: calc(3rem + 1vw);
    --h4: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--h2);
    font-family: 'Ruhl', serif;
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

a,
ul,
li,
p {
    list-style-type: none;
    text-decoration: none;
    font-size: var(--text);
    color: inherit;
    margin: 0;
}

body {
    -webkit-animation: openingWebsite 1s ease-in-out;
    animation: openingWebsite 1s ease-in-out;
}


.about-text {
    margin-bottom: 6rem;
}

.about-text h3 {
    margin-bottom: 2rem;
    font-family: 'Ruhl', sans-serif;
}

.about-text p {
    font-family: 'Lato', sans-serif;
}

.contact {
    padding: 20% 15vw;
    background: url('./img/contact-image.jpg') right no-repeat;
}


.contact h4 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 8rem;
    position: relative;
    z-index: 1;
}

.contact-head {
    font-family: 'Lato', sans-serif;
    max-width: 45rem;
}

.contact h4::after {
    content: 'touch';
    position: absolute;
    bottom: -7rem;
    right: 3rem;
    font-family: 'Great Vibes';
    color: var(--special-color);
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
    font-size: 10rem;
    z-index: -1;
}


.description {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 50%;
    flex: 2 1 50%;
    background-color: var(--background-color);
    color: white;
    padding: 10rem 10rem 5rem;
}

.description h2 {
    text-align: center;
    margin-bottom: 10rem;
}

.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

.footer h4 {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 30rem;
    flex: 2 1 30rem;
}

.footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

.gallery {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    overflow: hidden;
}

.gallery>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    z-index: 0;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.gallery>img:hover {
    -webkit-transform: scale(1.008);
    -ms-transform: scale(1.008);
    transform: scale(1.008);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

.gallery-item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}

.gallery-item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
}

.gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: white;
    text-align: center;
    padding: 4rem 2rem;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

.gallery-text h4 {
    font-family: 'Ruhl';
    margin-bottom: 1rem;
}



.hero {
    width: 95%;
    min-height: 90vh;
    margin: 0 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-background {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#dad8dd), to(#dad1d4));
    background: -o-linear-gradient(#dad8dd, #dad1d4);
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;
}

.hero-info {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 40rem;
    flex: 2 1 40rem;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 2rem 8%;
    z-index: 2;
}

.hero-info p {
    margin: 2rem 0;
    color: var(--gray-text);
    font-family: 'Lato';
}

.hero-info a {
    display: inline-block;
    margin-top: 2rem;
    padding: 2rem 7rem;
    border: 3px solid black;
    overflow: hidden;
    position: relative;
    font-family: 'Lato';

}

.hero-info a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 102%;
    height: 102%;
    background-color: #000;
    -webkit-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
    transform: translateX(-102%);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hero-info a:hover {
    color: #fff;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

}

.hero-info a:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}


.hero-picture {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

}

.hero-plant {
    position: absolute;
    bottom: -5rem;
    left: 0;
    z-index: -1;
    -o-object-fit: contain;
    object-fit: contain;
    width: 90%;
    height: 90%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

}

.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    font-family: 'Great Vibes';
    font-size: var(--h1);
    cursor: pointer;
}

.mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mail button {
    background: var(--special-color);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 3.5rem;
    cursor: pointer;
}

.mail input {
    height: 4rem;
    padding: 3rem 2rem;
    font-size: 3rem;
    background-color: var(--background-color);
    color: white;
    border: none;
    margin: 2rem 0;
}

.mail label {
    font-size: 4rem;
}

.main-head {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    top: 0;
    z-index: 3;
    min-height: 10vh;

}

.nav {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;

}

.nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    font-size: var(--text);
    font-family: 'Lato', sans-serif;
}

.nav-links li {
    position: relative;
    overflow: hidden;
    padding: 1rem 3rem;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav-links li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    -webkit-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
    transform: translateX(-102%);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

}

.nav-links li:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.plant1 {
    -webkit-transform: translateX(-25rem);
    -ms-transform: translateX(-25rem);
    transform: translateX(-25rem);
    animation: movePlant1 1.5s ease-in infinite alternate-reverse;
}

.plant2 {
    -webkit-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    animation: movePlant2 1.5s ease-in infinite alternate-reverse;
}

.work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.work-background {
    background: url('/img/about-image.png') center no-repeat;
    background-size: cover;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;

}

.work-text {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2rem;
    text-indent: 2rem;
    text-align: center;
    margin-top: 20rem;
}


/* @Media */

@media (max-width: 1039px) {
    .contact {
        background-size: contain;
    }
}

@media (max-width: 779px) {
    .contact {
        background: none;
    }

    .contact-head {

        margin: 0 auto;
    }

    .hero-plant {
        display: none;
    }
}

@media (max-width: 949px) {
    .hero {
        width: 100%;
        margin: 0 auto;
    }

    .hero-plant {
        max-width: 70%;
        bottom: -12rem;
        left: 15%;
    }
}

@media screen and (max-width: 600px) {

    .burger {
        padding: 3rem;
        width: 4rem;
        height: 4rem;
        position: relative;
        top: 50%;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .burger span {
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .burger span:nth-child(1) {
        top: 30%;
    }

    .burger span:nth-child(2) {
        top: 50%;
    }

    .burger span:nth-child(3) {
        top: 70%;
    }

    .burger.open span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .burger.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .burger.open span:nth-child(3) {
        top: 50%;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }


    .sticky {
        position: sticky;
        top: 0;

    }

    .fixed {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }


    .burger-line1 {
        top: 30%;
    }

    .burger-line3 {
        top: 70%;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 10%;
        background-color: #fff;
        transition: .2s ease-in-out;

    }

    .nav-hidden {
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        transition: .2s ease-in-out;
    }

    .nav-open {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
        transition: .2s ease-in-out;
    }

    .nav-links a {
        font-size: 4rem;
    }

    .nav-links li::before {
        display: none;
    }

    .description {
        padding: 10rem 5rem 5rem;
    }

    .footer h4 {
        font-size: calc(var(--h4) - .5rem)
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
    }

    .gallery-text {
        display: none;
    }

    .gallery img {
        grid-row: auto;
        grid-column: auto;
    }


    .work {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .work-background {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100vh;
        flex: 1 1 100vh;
    }

}